@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Сделка успешно завершена</h1>
<h3><a asp-controller="Account" asp-action="UserInterface">Вернуться на страницу профиля</a></h3>