@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Сделка успешно завершена</h1>
<h3><a asp-controller="Home" asp-action="Index">Вернуться на главную страницу</a></h3>